<div class="box">
    <div class="boxleft">
        @Helper.HelperImg("1")
        @Helper.HelperImg("2")
        @Helper.HelperImg("3")
        @Helper.HelperImg("4")
        @Helper.HelperImg("5")
        @Helper.HelperImg("6")
        @Helper.HelperImg("7")
        @Helper.HelperImg("8")
        @Helper.HelperImg("9")
    </div>
    <div class="boxright">
        @Helper.HelperImg("5")
        @Helper.HelperImg("3")
        @Helper.HelperImg("4")
        @Helper.HelperImg("7")
        @Helper.HelperImg("9")
        @Helper.HelperImg("2")
        @Helper.HelperImg("1")
        @Helper.HelperImg("8")
    </div>
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div class="content-over"></div>
</div>

<div class="Modal zqui-modal">
    <div class="zqui-modal-mask"></div>
    <div class="zqui-modal-dialog zqui-modal-lg">
        <header class="zqui-modal-header banner"></header>
        <div class="zqui-modal-footer">
            <button class="CloseModal zqui-modal-btn">返回活动首页</button>
        </div>
        <div class="zqui-modal-body">
            <div class="zqui-panel-card">
                <p>
                    <img src="/Content/images/pic.jpg">
                </p>
                <p>
                    <img src="/Content/images/pic.jpg">
                </p>
                <p>
                    <img src="/Content/images/pic.jpg">
                </p>

                <p>
                    <b>事迹：</b>陈礼云说，抢险队伍已经连续工作一周，朱同宝一直在第一线，带领群众排涝抢险。中心河段近日水位不断上涨，险情危及，朱同宝是在６日巡视了河堤一整夜后，７日早上６点多继续投入加固河堤的工作，过度劳累导致坠河。
                </p>
                <div  class="zqui-info">
                    <p class="zqui-h6">党员姓名<span class="zqui-rt">张三</span></p>
                    <p class="zqui-h6">拍摄时间<span class="zqui-rt">2015-05-16</span></p>
                    <p class="zqui-h6">所属县区<span class="zqui-rt">芜湖县</span></p>
                    <p class="zqui-h6">基层党组织<span class="zqui-rt">芜湖市区当委员会</span></p>
                    <p class="zqui-h6">推荐人<span class="zqui-rt">张三</span></p>
                </div>

                <div class="operate">
                    <span> 阅读量：<span>14124124</span></span>

                    <a>
                        <i class="icon icon-dianzan text-info"></i>34888
                    </a>
                </div>
                <div id="Pinglun" class="comment">
                    <div class="tips-line">
                        <span class="tips">评论</span>
                    </div>
                    <div class="write"><a href="#Pinglun" class="ShowModalMsg">写评论</a></div>
                    <ul  class="zqui-table-view">
                        <li class="zqui-table-view-cell">
                            <div class="zqui-cell-bd zqui-flex-1">
                                <textarea class="zqui-textarea" placeholder="请输入评论" rows="3"></textarea>
                                <div class="zqui-textarea-counter">
                                    <span>0</span>/200
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="zqui-btn zqui-btn-block zqui-btn-primary">提交评论</button>

                    <div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体由各种物质组成的巨型球状天体由各种物质组成的巨型球状天体由各种物质组成的巨型球状天体由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div><div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div><div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div><div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div><div class="panel-talk ">
                        <div class="panel-title clearfix">

                            <div class="name ">
                                <span>注册姓名</span><span class="time">2016年3月1日</span>
                            </div>
                        </div>
                        <div class="panel-body clearfix">
                            <div class="panel-talk-contents">
                                <p>由各种物质组成的巨型球状天体</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>
<div class=" zqui-modal">@*ModalMsg*@
    <div class="zqui-modal-mask"></div>
    <div class="zqui-modal-dialog zqui-modal-sm">
        <div class="zqui-modal-header">
            登录用户账户
            <a class="btnClose CloseModalMsg zqui-header-clear">×</a>
        </div>
        <div class="zqui-modal-body">
            <div style="margin-top:1rem;">
                <ul class="zqui-table-view">
                    <li class="zqui-table-view-cell zqui-dis-flex">
                        <div class="zqui-cell-hd">
                            <label class="zqui-cell-label">手机号</label>
                        </div>
                        <div class="zqui-cell-bd zqui-flex-1">
                            <input class="zqui-input" type="text" placeholder="请输入手机号">
                        </div>
                        <div class="zqui-cell-ft none"><i class="icon icon-exclamation-sign"></i></div>
                    </li>
                    <li class="zqui-table-view-cell zqui-dis-flex">
                        <div class="zqui-cell-hd">
                            <label class="zqui-cell-label">密码</label>
                        </div>
                        <div class="zqui-cell-bd zqui-flex-1">
                            <input class="zqui-input" type="password" placeholder="请输入密码">
                        </div>
                        <div class="zqui-cell-ft none"><i class="icon icon-exclamation-sign"></i></div>
                    </li>
                </ul>

                <div class="zqui-content-padded">
                    <button id="login" class="zqui-btn zqui-btn-block zqui-btn-primary">登录</button>
                    <div class="link-area">
                        <a id="reg" href="register.cshtml">注册账号</a> <span class="spliter">|</span> <a id="forgetPassword" href="password.cshtml">忘记密码</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".ShowModal").click(function () {
            $(".Modal").addClass("active");
            $(".CloseModal").click(function () {
                $(".Modal").removeClass("active");
            });
        });
        $(".ShowModalMsg").click(function () {
            $(".ModalMsg").addClass("active");
            $(".CloseModalMsg").click(function () {
                $(".ModalMsg").removeClass("active");
            });
        });
    });
</script>