
<div class="zqui-tab-wrapper" style="top: 2rem;">
    <ul class="zqui-tab-scroll counties">
        <li class="active" data-id="0">
            <a><p>全部县区</p><p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a>
        </li>
        <li data-id="1"><a><p>市级</p>   <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="2"><a><p>无为县</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="3"><a><p>芜湖县</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="4"><a><p>繁昌县</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="5"><a><p>南陵县</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="6"><a><p>镜湖区</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="7"><a><p>弋江区</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="8"><a><p>鸠江区</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="9"><a><p>三山区</p> <p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="10"><a><p>经开区</p><p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
        <li data-id="11"><a><p>大桥区</p><p><i class="icon icon-hongxin-o"></i>&nbsp;10</p></a></li>
    </ul>   
</div>
<div class="zqui-tab-content">
    <div class="zqui-tab-pane">
        <ul class="zqui-table-view zqui-table-view-icon list-ranking">
            <li class="zqui-table-view-divider">
                排名
                <span class="zqui-rt">赞</span>
            </li>
            @Helper.Listranking("1")
            @Helper.Listranking("2")
            @Helper.Listranking("3")
            @Helper.Listranking("4")
            @Helper.Listranking("5")
            @Helper.Listranking("6")
            @Helper.Listranking("7")
            @Helper.Listranking("8")
            @Helper.Listranking("9")
            @Helper.Listranking("10")
        </ul>
    </div>
    <div class="zqui-tab-pane">
        <ul class="zqui-table-view zqui-table-view-icon list-ranking">
            <li class="zqui-table-view-divider">
                排名
                <span class="zqui-rt">赞</span>
            </li>
            @Helper.Listranking("1")
            @Helper.Listranking("2")
            @Helper.Listranking("3")
            @Helper.Listranking("4")
            @Helper.Listranking("5")
            @Helper.Listranking("6")
            @Helper.Listranking("7")
            @Helper.Listranking("8")
            @Helper.Listranking("9")
            @Helper.Listranking("10")
        </ul>
    </div>
</div>
@Helper.HelperloginModal()
@Helper.HelperDataModal()
@Helper.HelpercommentModal()
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.jqtab = function (nav, content, click) {
            $(content).find(".zqui-tab-pane").hide();
            $(nav).find(".zqui-filter-item:first").addClass("active").show();
            $(content).find(".zqui-tab-pane:first").show();
            $(nav).find(".zqui-filter-item").bind(click, function () {
                $(this).addClass("active").siblings(".zqui-filter-item").removeClass("active");
                var activeindex = $(nav).find(".zqui-filter-item").index(this);
                $(content).children().eq(activeindex).show().siblings().hide();
                return false;
            });
        };
        $.jqtab(".zqui-filter-bar", ".zqui-tab-content", "click");
    });
</script>